.y-mess-item {
    border-bottom:1px solid #EFEFEF;
}
.y-mess-item a {
    display:inline-block;
}
.y-mess-item:hover {
    cursor:pointer;
    background:#eff0ef;
}
.items {
    border-top:1px solid #EFEFEF;
}
.y-mess-no-read {
    background:#f6f6f6;
}
.y-mess-no-read:hover {
    background:#e2e7ed !important;
}
.y-mess-item .btn-group,
.y-mess-item .button-rem {
    display:none;
}
.y-mess-item:hover .btn-group,
.y-mess-item:hover .button-rem {
    display:inline-block;
}
.y-mess-nickname-link {
    text-transform: capitalize;
}
.list-view {
    padding-top:0 !important;
}
hr.y-mess {
    margin:5px 0;
}